<html>
    <head>
        <style>
            #input {
                width:70%;
                font-size: larger;
            }

            #submit {
                margin-top: 10px;
                padding: 5px 20px;
                border-radius: 10px;
                border: none;
                background-color: lightskyblue;
            }

            #submit:hover {
                cursor: pointer;
                background-color: lightgreen;
            }

            .flex {
                text-align: center;
                font-family: sans-serif;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                margin: 0px 30px;
            }

            .main {
                width: 90%;
            }

            h1 {
                padding-bottom: 50px;
                margin: 0 10%;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/leaderboard.css">
        <%- include('./assets/header.ejs') %> 
    </head>

    <body>
        <%- include('./assets/navbar.ejs') %>
        <div class = "flex">
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.lr, right:false }) %>
            <div class = "main">
                <h2>Response time!</h2>
                <h3>In 10 words, give your best answer to the following prompt:</h3>
                <h1><%- prompt %></h1>
                Word Count: <span id = "wc">0</span><br>
                <input id="input"><br>
                <button id="submit">Submit</button><br>
                <span id = "subreq"></span>
            </div>
            
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.comp, right:true }) %>
        </div>
        <script>
            window.onload = () => {
                let inp = document.getElementById('input');

                if("<%-user.isOut%>" === "true"){
                    inp.setAttribute('placeholder', "Sorry, you've been eliminated. You can't respond this round")
                    inp.setAttribute('disabled', '');
                    document.getElementById('submit').setAttribute('disabled', '');
                }

                let prevResp = localStorage.getItem('<%-round%>_PROMPT');
                if(prevResp) {
                    inp.value = prevResp;
                    document.getElementById('wc').innerText = prevResp.split(/ +/).length.toString();
                }
            }

            document.getElementById('input').addEventListener('keydown', e => {
                if(e.currentTarget.value.split(/\s+/).length > 15 && e.keyCode !== 8) e.preventDefault();
                else {
                    document.getElementById('wc').innerText = e.currentTarget.value.split(/\s+/).length.toString();
                }
            });

            document.getElementById('submit').addEventListener('click', e => {
                document.getElementById('submit').setAttribute('disabled', '');
                let sub = document.getElementById('input').value;
                fetch('/api/respond', {
                    method: 'POST',
                    body: sub,
                    headers: {
                        "Content-Type": "text/plain",
                        "X-auth": '<%-user.id%>'
                    }
                }).then(() => {
                    localStorage.setItem('<%-round%>_PROMPT', sub);
                    document.getElementById('subreq').innerText = "Response submitted! Refresh the page if you'd like to resubmit your response.";
                }).catch(e => {
                    document.getElementById('subreq').innerText = "ERROR: " + e;
                });
            });
        </script>
    </body>

</html>