<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <style>
            .kernel {
                display: inline-block;
                list-style-type: none;
                vertical-align: top;
                font-size: large;
            }

            .border {
                border: 1px solid black;
                padding: 4px;
                border-radius: 5px;
            }

            .item {
                display: block;
                border: 1px solid black;
                border-radius: 5px;
                background-color: rgb(216, 216, 216);
                padding: 2px 10px;
                margin-top: 1px;
                margin-bottom: 1px;
                text-align: left;
            }

            #votewrapper {
                text-align: center;
                font-size: 0;
                margin:auto;
                font-family: Helvetica, sans-serif;
            }

            #info {
                text-align: center;
            }

            #submitwrapper {
                display: flex;
                flex-direction: column;
                align-items: center; 
            }

            #submit {
                margin-top: 10px;
                padding: 5px 20px;
                border-radius: 10px;
                border: none;
                background-color: lightskyblue;
            }

            #submit:hover {
                cursor: pointer;
                background-color: lightgreen;
            }

            .hidden {
                visibility: hidden;
            }

            .placeholder {
                height: 1.5em; 
                line-height: 1.2em;
                background-color: lightskyblue;
                border-width: 1px 1px 1px 1px;
            }
        </style>
        <%- include('./assets/header.ejs') %> 
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
    </head>
    <body>
        <%- include('./assets/navbar.ejs') %>
        <div id = "info">
            <h2>Voting time!</h2>
            <h3>Vote on your favorite responses to the prompt:</h3>
            <h1><%-prompt%></h1>
            <h3>Within each table, drag and drop to order the response boxes from most favorite (at the top) to least favorite (at the bottom)..</h3>
        </div>
        <div id = "votewrapper">
        <% for(let table of tables) { %>
            <ul class = "kernel">
                <div class = "border">
                    <% for(let resp of table) { %>
                        <li rid = "<%- resp[0] %>" class = "item"><%- resp[1] %></li>
                    <% } %> 
                </div>
            </ul>
        <% } %>
        <br>
        </div>
        <div id = "submitwrapper">
            <button id = "submit" onclick="onSubmit()">Submit Votes</button>
            <span id = "subreq"></span>
        </div>
        <script>
            $(() => {
               $('.kernel').sortable({
                   placeholder: 'placeholder',
                   tolerance: 'pointer',
                   items: 'li:not(.hidden)'
               }); 

               $('.kernel').disableSelection();
            });

            window.onload = () => {
                for(let elem of document.getElementsByTagName('ul')){
                    let largestInChild = Array.from(elem.children[0].children)
                        .reduce((p, c) => c.textContent.length > p.textContent.length ? c : p);

                    let newelem = document.createElement('li');
                    let textNode = document.createTextNode(largestInChild.textContent + "padding");

                    newelem.classList.add('item', 'hidden');
                    newelem.appendChild(textNode);
                    elem.appendChild(newelem.cloneNode(true));
                }
            }

            document.getElementById('submit').onclick = () => {
                document.getElementById('submit').setAttribute('disabled', '');
                let res = "";
                for(let elem of document.getElementsByClassName('border')){
                    res += Array.from(elem.children)
                        .filter(e => !e.classList.contains('hidden'))
                        .map(e => e.attributes.getNamedItem('rid').value)
                        .join(',') + " ";
                }
                fetch('/api/vote', { 
                    method: 'POST',
                    body: res,
                    headers: {
                        "Content-Type": "text/plain",
                        "X-auth": '<%-user.id%>'
                    }
                }).then(() => {
                    document.getElementById('subreq').innerText = "Votes submitted! Refresh the page if you'd like to resubmit your vote.";
                }).catch(e => {
                    document.getElementById('subreq').innerText = "ERROR: " + e; 
                });
            }
        </script>
    </body>
</html>