<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <%- include('./assets/header.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/leaderboard.css">
        <link rel="stylesheet" type="text/css" href="/css/voting.css">
    </head>
    <body>
        <%- include('./assets/navbar.ejs') %>
        <div class="flex">
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.lr, right:false }) %>
            <div class="main">
                <div id="info">
                    <h2>Voting time!</h2>
                    <h3>Vote on your favorite responses to the prompt:</h3>
                    <h1><%-prompt%></h1>
                    <h3>Drag and drop to order the response boxes from most favorite (at the top) to least favorite (at the bottom). Hit the "Submit Votes" button at the bottom when you're done. Then, click on another number to vote on another bracket!</h3>
                </div>
                <div class = "menu"></div>
                <div id="votewrapper">
                    <div class = "inline">
                        <!--button class = "arrow">&lt;</button-->
                        <div id = "votescreen"></div>
                        <!--button class = "arrow">&gt;</button-->
                    </div>
                </div>
            </div>
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.comp, right:true }) %>
        </div>
        
        <script>
            let tables = [];

            $(document).ready(() => {
                let tableData = JSON.parse(`<%-tables%>`);

                //Create menu
                let menuButton = $("<button></button>")
                    .addClass("menuSelect")
                    .click((e) => { //TODO: Move function to global scope
                        $('ul.kernel').add('#submitwrapper').fadeOut(500, () => {
                            console.log(tables);
                            $('ul.kernel').remove();
                            $('#submit').removeAttr('disabled');
                            
                            tables[parseInt(e.target.textContent)-1]
                                .css({ display: 'none' })
                                .appendTo($('#votescreen'))
                                .insertBefore('#submitwrapper')
                                .sortable({
                                   placeholder: 'placeholder',
                                   tolerance: 'pointer',
                                   items: 'li:not(.hidden)'
                                }).disableSelection()
                                .add('#submitwrapper')
                                .fadeIn(500, () => {
                                    $('ul.kernel')
                                        .add('#submitwrapper')
                                        .css({ opacity: 1 });
                                });
                        });
                    });
                
                for(let i = 1; i <= tableData.length; i++) {
                    let mbtn = menuButton.clone(true)
                        .text(i);
                    if(localStorage.getItem('<%-round%>_hsub')?.includes(i.toString())) mbtn.addClass('bgreen'); 
                    $(".menu").append(mbtn);
                }


                //Create submit button and wrapper
                let button = $("<button></button>")
                    .attr("id", "submit")
                    .click(submit)
                    .text("Submit Votes");

                let subreq = $("<div></div>")
                    .attr('id', 'subreq');

                let submitWrapper = $("<div></div>")
                    .attr('id', 'submitwrapper')
                    .append(button, subreq);

                //Create voting tables and elements
                let i = 0;
                for(let table of tableData){
                    let list = $("<div></div>").addClass('border');
                    for(let resp of table){
                        list.append(
                            $("<li></li>")
                                .attr("rid", resp[0])
                                .text(`${resp[1]} (${resp[1].trim().split(/ +/).length})`)
                                .addClass('item')
                        );
                    }

                    let largestInChild = $(
                        list.children().toArray()
                            .reduce((p, c) => c.textContent.length > p.textContent.length ? c : p)
                    );
                    let sizer = $('<li></li>')
                        .text(largestInChild.text() + "ee")
                        .addClass('item hidden');

                    tables.push(
                        $("<ul></ul>")
                            .addClass('kernel')
                            .attr('sid', ++i)
                            .append(list, sizer)
                            .sortable({
                               placeholder: 'placeholder',
                               tolerance: 'pointer',
                               items: 'li:not(.hidden)'
                            }).disableSelection()
                    );
                }

                $('#votescreen').append(tables[0], submitWrapper);
            });

            function submit() {
                document.getElementById('submit').setAttribute('disabled', '');
                let res = "";
                let screen = $('ul.kernel').attr('sid');
                
                for(let elem of $('.border').toArray()){
                    res += Array.from(elem.children)
                        .filter(e => !e.classList.contains('hidden'))
                        .map(e => e.attributes.getNamedItem('rid').value)
                        .join(',');
                }

                let usp = new URLSearchParams({user: '<%-user.username%>'});
                fetch(`/api/vote?${usp}`, { 
                    method: 'POST',
                    body: res,
                    headers: {
                        "Content-Type": "text/plain",
                        "X-auth": '<%-user.id%>'
                    }
                }).then(res => {
                    if(!res.ok) {
                        document.getElementById('subreq').classList.add('red');
                        return document.getElementById('subreq').innerText = "ERROR: " + e;
                    }
                    console.log('hey');
            
                    let lstor = localStorage.getItem('<%-round%>_hsub');
                    if(!lstor) localStorage.setItem('<%-round%>_hsub', screen);
                    else if(!lstor.includes(screen)) localStorage.setItem('<%-round%>_hsub', lstor + screen);

                    $(`.menuSelect:contains(${screen})`).addClass('bgreen');

                    document.getElementById('subreq').innerText = "Votes submitted! You can now vote on another screen by clicking on another button above.";

                }).catch(e => {
                    document.getElementById('subreq').classList.add('red');
                    document.getElementById('subreq').innerText = "ERROR: " + e; 
                });
            }
        </script>
    </body>
</html>