<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <%- include('./assets/header.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/leaderboard.css">
        <link rel="stylesheet" type="text/css" href="/css/voting.css">
    </head>
    <body>
        <%- include('./assets/navbar.ejs') %>
        <div class="flex">
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.lr, right:false }) %>
            <div class="main">
                <div id="info">
                    <h2>Voting time!</h2>
                    <h3>Vote on your favorite responses to the prompt:</h3>
                    <h1><%-prompt%></h1>
                    <h3>Within each table, drag and drop to order the response boxes from most favorite (at the top) to least favorite (at the bottom). Hit the "Submit Votes" button at the bottom when you're done.</h3>
                </div>
                <div id="votewrapper">
                    <div class = "menu">
                        
                    </div>
                </div>
            </div>
            <%- include('./assets/leaderboard.ejs', { leaderboard: leaderboard.comp, right:true }) %>
        </div>
        
        <script>
            $(document).ready(() => {
                let tableData = JSON.parse(`<%-tables%>`);

                //Create menu
                let menuItems = [];
                let menuButton = $("<button></button>")
                    .addClass("menuSelect")
                    .click((e) => {

                    });
                menuItems.push(menuButton.clone(true).append($("<div></div>").addClass("trileft")));
                for(let i = 1; i <= tableData.length; i++) menuItems.push(menuButton.clone(true).text(i));
                menuItems.push(menuButton.clone(true).append($("<div></div>").addClass("triright")));

                $(".menu").append(...menuItems);

                //Create submit button and wrapper
                let button = $("<button></button>")
                    .attr("id", "submit")
                    .click(submit)
                    .text("Submit Votes");

                let subreq = $("<span></span>")
                    .attr('id', 'subreq');

                let submitWrapper = $("<div></div>")
                    .attr('id', 'submitwrapper')
                    .append(button, subreq);

                //Create voting tables and elements
                let tables = [];
                for(let table of tableData){
                    let list = $("<div></div>").addClass('border');
                    for(let resp of table){
                        list.append(
                            $("<li></li>")
                                .attr("rid", resp[0])
                                .text(`${resp[1]} (${resp[1].trim().split(/ +/).length})`)
                                .addClass('item')
                        );
                    }

                    let largestInChild = $(
                        list.children().toArray()
                            .reduce((p, c) => c.textContent.length > p.textContent.length ? c : p)
                    );
                    let sizer = $('<li></li>')
                        .text(largestInChild.text() + "le")
                        .addClass('item hidden');

                    tables.push(
                        $("<ul></ul>")
                            .addClass('kernel')
                            .append(list, sizer)
                            .sortable({
                               placeholder: 'placeholder',
                               tolerance: 'pointer',
                               items: 'li:not(.hidden)'
                            }).disableSelection()
                    );
                }

                $('#votewrapper').append(tables[0], submitWrapper);
            });

            function submit() {
                document.getElementById('submit').setAttribute('disabled', '');
                let res = "";
                for(let elem of document.getElementsByClassName('border')){
                    res += Array.from(elem.children)
                        .filter(e => !e.classList.contains('hidden'))
                        .map(e => e.attributes.getNamedItem('rid').value)
                        .join(',') + " ";
                }
                let usp = new URLSearchParams({user: '<%-user.username%>'});
                fetch(`/api/vote?${usp}`, { 
                    method: 'POST',
                    body: res,
                    headers: {
                        "Content-Type": "text/plain",
                        "X-auth": '<%-user.id%>'
                    }
                }).then(res => {
                    if(!res.ok) throw new Error(res.statusText);
                    localStorage.setItem('<%-round%>_VOTE', res);
                    document.getElementById('subreq').innerText = "Votes submitted! Refresh the page if you'd like to resubmit your vote.";
                }).catch(e => {
                    document.getElementById('subreq').classList.add('red');
                    document.getElementById('subreq').innerText = "ERROR: " + e; 
                });
            }
        </script>
    </body>
</html>